body{
  background-image: url(./bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
.imgBox{
    width: 200px;
    height: 200px;
    margin-top: 200px;
    margin-left: 300px;
    position: relative;
    transform-style: preserve-3d;
    /* transform: perspective(100%) rotateY(60deg) rotateX(45deg); */
    zoom: 150%;
}
.imgBox div{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 10px 10px 150px none;
}

/* 从俯视图的视角往下看 纵穿的是z轴 */
/* 以一般的魔方视角来看(上黄下白前绿)，黄是z正轴，红是y正轴，蓝是x正轴 */
.top{
    background-color: yellow;
    opacity: 0.9;
    transform: translateZ(100px);
}

.bottom{
    background: black;
    opacity: 0.9;
    transform: translateZ(-100px);
}

.left{
    background: orange;
    opacity: 0.9;
    transform: rotateX(90deg) translateZ(-100px);
}

.right{
     background: red;
     opacity: 0.9;
     transform: rotateX(90deg) translateZ(100px);
}

.front{
    background: green;
    opacity: 0.9;
    transform: rotateY(90deg) translateZ(-100px);
}

.back{
    background: rgb(6,131,202);
    opacity: 0.9;
    transform:rotateY(90deg) translateZ(100px);
}

/* this is the line on the cube surface */
.vl {
    border-left: 5px solid white;
    opacity: 1;
}

.line-1 {
  margin-left: 33.3%;
}
.line-2 {
  margin-left: 66.6%;
}
.line-3 {
  margin-top: 33.3%;
  transform: rotate(90deg);
}
.line-4 {
  margin-top: 66.6%;
  transform: rotate(90deg);
}
