body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    /*将border和padding绘制在设置宽高之内*/
    box-sizing: border-box;
    overflow: hidden;
}
.wraper {
    width: 260px;
    height: 260px;
    margin: 128px auto;
    /*景深，可以理解为视角到3D物体的距离，设置于舞台元素上*/
    perspective: 1000px;
}
.cube {
    height: 100%;
    width: 100%;
    position: relative;
    /*子元素继承3D效果*/
    transform-style: preserve-3d;
    /*加上下边这句可以体现出立体感*/
    /*transform: rotateX(-30deg) rotateY(-45deg);*/
}
.cube>div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, .8); */
    text-align: center;
    line-height: 260px;
    color: #fff;
    font-size: 48px;
    border: 2px solid #fff;
    /*设置文本内容不可选*/
    user-select: none;
}

.top{
    background-color: yellow;
    opacity: 0.8;
    transform: rotateX(90deg) translateZ(130px);
}

.bottom{
    background: white;
    opacity: 0.8;
    transform: rotateX(-90deg) translateZ(130px);
}

.left{
    background: orange;
    opacity: 0.8;
    transform: rotateY(-90deg) translateZ(130px);
}

.right{
     background: red;
     opacity: 0.8;
     transform: rotateY(90deg) translateZ(130px);
}

.front{
    background: green;
    opacity: 0.8;
    /*正面不用旋转，直接向前平移半个盒子宽*/
    transform: translateZ(130px);
}

.back{
    background: rgb(6,131,202);
    opacity: 0.8;
    /*向后旋转，以确保盒子上的文字朝向盒子外*/
    transform: rotateY(180deg) translateZ(130px);
}
.vl {
    border-left: 5px solid black;
}
.line-1 {
  margin-left: 33.3%;
}
.line-2 {
  margin-left: 66.6%;
}
.line-3 {
  margin-top: 33.3%;
  transform: rotate(90deg);
}
.line-4 {
  margin-top: 66.6%;
  transform: rotate(90deg);
}
