body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    /*将border和padding绘制在设置宽高之内*/
    box-sizing: border-box;
    overflow: hidden;
}
.wraper {
    width: 260px;
    height: 260px;
    margin: 128px auto;
    /*景深，可以理解为视角到3D物体的距离，设置于舞台元素上*/
    perspective: 1000px;
}
.cube {
    height: 100%;
    width: 100%;
    position: relative;
    /*子元素继承3D效果*/
    transform-style: preserve-3d;
    /* transform: perspective(100%) rotateY(60deg) rotateX(45deg); */
    zoom: 150%;
}
.cube>div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, .8); */
    text-align: center;
    line-height: 260px;
    color: #fff;
    font-size: 48px;
    border: 2px solid #fff;
    /*设置文本内容不可选*/
    user-select: none;
}

/* 从俯视图的视角往下看 纵穿的是z轴 */
/* 以一般的魔方视角来看(上黄下白前绿)，黄是z正轴，红是y正轴，蓝是x正轴 */
.top{
    background-color: yellow;
    opacity: 0.8;
    transform: rotateX(90deg) translateZ(130px);
}

.bottom{
    background: black;
    opacity: 0.9;
    transform: translateZ(-100px);
}

.left{
    background: orange;
    opacity: 0.8;
    transform: rotateY(-90deg) translateZ(130px);
}

.right{
     background: red;
     opacity: 0.8;
     transform: rotateY(90deg) translateZ(130px);
}

.front{
    background: green;
    opacity: 0.8;
    /*正面不用旋转，直接向前平移半个盒子宽*/
    transform: translateZ(130px);
}

.back{
    background: rgb(6,131,202);
    opacity: 0.8;
    /*向后旋转，以确保盒子上的文字朝向盒子外*/
    transform: rotateY(180deg) translateZ(130px);
}

/* this is the line on the cube surface */
.vl {
    border-left: 5px solid black;
}

.line-1 {
  margin-left: 33.3%;
}
.line-2 {
  margin-left: 66.6%;
}
.line-3 {
  margin-top: 33.3%;
  transform: rotate(90deg);
}
.line-4 {
  margin-top: 66.6%;
  transform: rotate(90deg);
}
